.body-bg {
    background: linear-gradient(90deg, rgb(62, 197, 238), rgb(4, 117, 161));
    
}

header {
    color: white;
}

.search {
    border: solid 1px black;
    border-radius: 25px;
}

.p-body {
    background: linear-gradient(135deg, #69b3ff, #3b8fd8);
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.w-detail {
    background: linear-gradient(135deg, #69b3ff, #3b8fd8);
    color: white;
    border-radius: 15px;
    padding: 20px 20px 30px 30px;
    margin: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.s-body {
    background: linear-gradient(135deg, #69b3ff, #3b8fd8);
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* display: flex;
    justify-content: space-between; */
}

.days{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 30px 30px;
}